<% if (totalPages > 1) { %>
<nav aria-label="Paginación">
  <ul class="pagination" style="list-style:none;padding:0;margin:0;">
    <% if (currentPage > 1) { %>
      <li><a href="?page=<%= currentPage - 1 %><%= typeof qs !== 'undefined' ? qs : '' %>">&laquo;</a></li>
    <% } else { %>
      <li><span class="disabled">&laquo;</span></li>
    <% } %>
    <%
      const pages = [];
      const delta = 2;
      const left = currentPage - delta;
      const right = currentPage + delta;
      for (let i = 1; i <= totalPages; i++) {
        if (i === 1 || i === totalPages || (i >= left && i <= right)) {
          pages.push(i);
        } else if (pages[pages.length - 1] !== '...') {
          pages.push('...');
        }
      }
    %>
    <% pages.forEach(p => { %>
      <% if (p === '...') { %>
        <li><span class="disabled">...</span></li>
      <% } else { %>
        <li>
          <% if (p === currentPage) { %>
            <span class="active"><%= p %></span>
          <% } else { %>
            <a href="?page=<%= p %><%= typeof qs !== 'undefined' ? qs : '' %>"><%= p %></a>
          <% } %>
        </li>
      <% } %>
    <% }) %>
    <% if (currentPage < totalPages) { %>
      <li><a href="?page=<%= currentPage + 1 %><%= typeof qs !== 'undefined' ? qs : '' %>">&raquo;</a></li>
    <% } else { %>
      <li><span class="disabled">&raquo;</span></li>
    <% } %>
  </ul>
</nav>
<% } %>
